@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
.products {
  background-color: #FCFCF9;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  position: relative;
}

.products .products-block {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  margin: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.products .products-block::-webkit-scrollbar {
  display: none;
}

.products .products-produit {
  min-width: calc(100% / 3);
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  scroll-snap-align: center;
}

@media (max-width: 700px) {
  .products .products-produit {
    min-width: calc(100% / 2);
  }
}

@media (max-width: 470px) {
  .products .products-produit {
    min-width: 100%;
  }
}

.products .products-produit:hover {
  opacity: 0.8;
}

.products .products-produit:hover .products-title p {
  color: red;
}

.products .products-produit img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  min-height: 236px;
  max-height: 250px;
}

.products .products-produit .products-title {
  margin-top: 2rem;
  font-family: "PlayFair Display";
}

.products .products-produit .products-title h4 {
  font-weight: 400;
  font-size: 1rem;
}

.products .products-produit .products-title p {
  margin-top: 1rem;
  font-weight: 200;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 700px) {
  .products .products-produit .products-title {
    text-align: center;
  }
}

.products .products-produit:nth-child(-n + 3) {
  cursor: e-resize;
}

.products .products-produit:nth-last-child(-n + 3) {
  cursor: w-resize;
}

.products .products-button {
  width: 15rem;
  background: transparent;
  border: solid 1px black;
  height: 50px;
  margin-bottom: 5rem;
  margin: auto;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  font-family: "PlayFair Display";
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.products .products-button a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.products .products-button:hover {
  background: black;
}

.products .products-button:hover a {
  color: white;
}

.avis-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding: 4rem 2rem;
  -webkit-box-shadow: 0 0 1px 0 black;
          box-shadow: 0 0 1px 0 black;
  background-color: #f8f5ee;
  font-family: "PlayFair Display";
}

@media (max-width: 700px) {
  .avis-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 2rem 4rem 2rem;
  }
}

.avis-section .avis-blocks-left {
  width: 50%;
}

.avis-section .avis-blocks-left h1 {
  font-size: 7rem;
  font-weight: 300;
}

@media (max-width: 700px) {
  .avis-section .avis-blocks-left h1 {
    font-size: 6rem;
  }
}

.avis-section .avis-blocks-left button {
  width: 15rem;
  height: 64px;
  margin-top: 3rem;
  border: solid 1px black;
  background: transparent;
  font-size: 1rem;
  font-weight: 200;
  font-family: "PlayFair Display";
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 700px) {
  .avis-section .avis-blocks-left button {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.avis-section .avis-blocks-left button:hover {
  background: black;
  color: white;
}

@media (max-width: 700px) {
  .avis-section .avis-blocks-left {
    margin: auto;
    text-align: center;
    width: 100%;
  }
}

.avis-section .avis-blocks-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  overflow-y: auto;
}

@media (max-width: 700px) {
  .avis-section .avis-blocks-right {
    width: 100%;
  }
}

.avis-section .avis-blocks-right::-webkit-scrollbar {
  display: none;
}

.avis-section .avis-blocks-right .avis-comment-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 0.5px 0 black;
          box-shadow: 0 0 0.5px 0 black;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 700px) {
  .avis-section .avis-blocks-right .avis-comment-block {
    margin: auto;
  }
}

.avis-section .avis-blocks-right .avis-comment-block:nth-child(-n + 3) {
  cursor: s-resize;
}

.avis-section .avis-blocks-right .avis-comment-block:nth-last-child(-n + 3) {
  cursor: n-resize;
}

.avis-section .avis-blocks-right-name {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  max-width: 40%;
}

.avis-section .avis-blocks-right-name h5 {
  font-size: 1rem;
  font-weight: 600;
  overflow-wrap: break-word;
}

.avis-section .avis-blocks-right-name p {
  font-size: 0.8rem;
}

.avis-section .avis-blocks-right-comment {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.avis-section .avis-blocks-right-comment p {
  margin-top: 1rem;
}
/*# sourceMappingURL=avis.css.map */