@import "./variables.scss";

.contact-section {
  display: flex;
  //   height: 50vh;
  flex-direction: column-reverse;
  box-shadow: 0 0 1px 0 black;
  background-color: #f6f3ea;
  font-family: $font;

  .contact-block {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;

    .contact-logo {
      img {
        max-width: 10rem;
      }
    }

    .contact-text {
      text-align: left;

      h4 {
        text-transform: uppercase;
        margin-bottom: 0.5rem;
      }
    }

    .contact-mail {
      text-align: center;
    }
  }
}
