@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Playfair Display";
}

header .header-nav {
  background-color: #f6f3ea;
  padding: 0.5rem;
}

header .header-nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 400px) {
  header .header-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header .header-nav ul .header-nav-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-nav ul li {
  list-style-type: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: capitalize;
  letter-spacing: -1.5px;
}

@media (max-width: 400px) {
  header .header-nav ul li:not(:first-of-type) {
    margin: auto;
    margin-top: 1rem;
    width: calc(100% / 3);
  }
}

header .header-nav ul li a {
  text-decoration: none;
  color: unset;
}

header .header-nav ul .logo {
  width: 70%;
  text-align: start;
  margin: 1rem;
}

header .header-nav ul .logo a img {
  max-width: 7rem;
}

@media (max-width: 400px) {
  header .header-nav ul .logo {
    margin: auto;
    text-align: center;
  }
  header .header-nav ul .logo a {
    width: 100%;
  }
}

header .header-nav ul .produits,
header .header-nav ul .avis,
header .header-nav ul .contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  header .header-nav ul .produits,
  header .header-nav ul .avis,
  header .header-nav ul .contact {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 1rem;
  }
}

header .header-nav ul .produits a,
header .header-nav ul .avis a,
header .header-nav ul .contact a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header-nav ul .produits a:hover,
header .header-nav ul .avis a:hover,
header .header-nav ul .contact a:hover {
  color: red;
}

header .header-title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  color: black;
  background-color: #f9f7f1;
}

header .header-title img {
  position: absolute;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

header .header-title h1 {
  font-size: 4.5rem;
  letter-spacing: -3px;
  font-weight: 500;
}

header .header-title h4 {
  font-size: 1.5rem;
  letter-spacing: -1.5px;
  font-weight: 300;
}

header .header-title h1,
header .header-title h4 {
  margin-left: 4rem;
}

@media (max-width: 750px) {
  header .header-title h1 {
    font-size: 9.5vw;
  }
}

@media (max-width: 500px) {
  header .header-title h4 {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=header.css.map */